.form-control{
  background-color: #cec3af;

}

.form-control:focus{
  border: 3px solid #f0ad4e;
  background-color: #1b1408;
}

.form-control[type=text]{
  color:red;
}



input::-webkit-input-placeholder{/* Chrome/Opera/Safari */
  color:red;
}


input::-moz-placeholder{/* Firefox 19+ */
  color:red;
}


input:-ms-input-placeholder{/* IE 10+ */
  color:red;
  }

input:-moz-placeholder{/* Firefox 18- */
    color:red;
  }
