/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';



.container-fluid{
  padding-left: 0px;
}

.container{
  overflow-y: scroll;
}
.navbar{
  /* position:fixed; */
  /* background-color: #2d1814; */
  background-color: #292626;
  width: 100vw;
  padding: 10px;
  margin-left: 0px;
}
.nav{
  padding:10px;
}

li{
  font-size: 20px;
}

h4{
  margin-left: 15px;
}
.body{
  background-color: #310804;
  color:beige;
}
img{
  max-width: 100%;
}
.main-content{

  background-color: #310804;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top:50px;
}
@media(max-width: 600px){
  .main-content{
    height: 60vh;
    margin-top: 0px;
  }
}



.form-control{
  background-color: #cec3af;
  color: #e21111;

}

.form-control:focus{
  border: 3px solid #f0ad4e;
  background-color: #1b1408;

}



.form-control[type=text]{
  color:red;
}

.column1{
  display: flex;
  justify-content: center;
}

.btn-column{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.btn-detail, .btn-edit{
  margin-right: .5rem;
}
h1 ,h6{
  color: beige;
}

h2, .subtitle{
  color: #d5c198;
  font-size:22px;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    margin-top: 6rem;

}


.contactlist {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;


}

.contactEdit{
  margin-top: 7rem;
  /* margin-left: auto; */
  margin-right: 5%;
  /* width: 70vw; */
}

.contactDetail{
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding-top:6rem;
  margin: 0 auto;
}

form{
  /* margin: 0 auto; */
  margin-left: 4%;
}

/* .title{
  margin-left: 4%;
} */

.title a, label{
  color: #ef8618;
}

a.button.is-text{
  color: #e9f1f9;
}

 .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #ecf0f5;
    color: #ecf0f5;
}

.back, .create{
  border: 2px solid #e01005;
  border-radius: 4px;
  display: block;
  width: 80vw;
  margin:  2rem 0rem;
  background-color: #ad8565;
  color: beige


}
table thead th{
  color: #ece5d9;
}

input{
  width: 80vw;
}

.detail-container{
    border: 2px dashed red;
    border-radius: 4px;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, .2);
    max-width: 98vw;

}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
  }
  h2{
    font-size: 20px;
  }
  .btn-detail{
    margin-right: 7px;
    margin-left: 7px;
  }
  .btn-column{
    display: flex;
    justify-content: space-around;
    margin-left: 0rem;
  }
  section{
    margin-bottom: 2rem;
  }
  form{
    margin-left: 5%;
  }

  .form-title{
    margin-left: 5%;
  }
  .contactEditgit {
    /* margin-right: 5%; */
  }
}

@media screen and (max-width: 900px) {

  form{
    margin-left: 8%;
  }

  .form-title{
    margin-left: 8%;
  }
  .contactEdit{
    /* margin-right: 5%; */
  }
}


@media screen and (max-width: 1024px) {

  form{
    margin-left: 6%;
  }

  .form-title{
    margin-left: 6%;
  }
  .contactEdit{
    /* margin-right: 5%; */
  }
}
